<div class='container'>
    <mat-tab-group >
      <mat-tab label="Dashboard">
        <div style="display:flex">
          <div class='filter-details'>
            <div class='color-1'>
                <i class="fa fa-sliders"></i>
                  Filters
                <a (click)="clearAll()" style='float:right;cursor: pointer;'>Clear All</a>
            </div>
            <div class="include-outside">
              Include Outside Policy <p><mat-slide-toggle [(ngModel)]="filterDataObj.outsidePolicyisChecked" class="toggle-css"></mat-slide-toggle></p>
            </div>
            <div> 
              <p>Maximum Stops</p>
              <mat-button-toggle-group  class='multiple-toggle' [(ngModel)]="filterDataObj.showStopType">
                  <mat-button-toggle value="0">Non Stop</mat-button-toggle>
                  <mat-button-toggle value="1">Upto 1 stop</mat-button-toggle>
                  <mat-button-toggle value="2">Upto 2+ stop</mat-button-toggle>
              </mat-button-toggle-group>
              <button mat-raised-button color="warn" style="margin-top: 15px;margin-left: 100px;" (click)="applyFilters()">Apply</button>
            </div>
          </div>
          <div  style="width:80%;">
            <div class='row' class='table-header'>
                <div class="column"> </div>
                <div class="column"> Depature </div>
                <div class="column"> Duration </div>
                <div class="column"> Arrival </div>
                <div class="column"> Price </div>
            </div>

            <mat-card class='card'  *ngFor='let flight of flightDetailsData'>
              <div class="row">
                <div class="column first-column">
                  <img  src={{flight.airline.image}} class='logo' />
                  <div>
                    <p class='no-margin'>{{flight.airline.name}}</p>
                    <p class='no-margin f12 details-text'>15 - 454</p>
                    <p class='no-margin f12 details-text'>{{flight.flightData.classType}}</p>
                    <p class='f12 details-text mtop5'>{{flight.flightData.isRefundable}}</p>
                  </div>
                </div>
                <div class="column">
                  <p class='no-margin'>{{flight.departure.scheduledTime}}</p>
                  <p class='no-margin f12 details-text'>{{flight.departure.icaoCode}}</p>
                  <p class='no-margin f12 details-text color-1'>{{flight.departure.departureDate}}</p>
                  <p class='f12 details-text color-1 mtop5'>{{flight.departure.departureData}}</p>
                </div>
                <div class="column">
                   <p class='no-margin'>{{flight.flightData.duration}}</p>
                   <p class='no-margin f12 details-text mtop5'>{{flight.flightData.noOfStops}} Stops</p>

                </div>
                <div class="column"> 
                  <p class='no-margin'>{{flight.arrival.actualRunway}}</p>
                  <p class='no-margin f12 details-text'>{{flight.arrival.icaoCode}}</p>
                  <p class='no-margin f12 details-text '>{{flight.arrival.arrivalDate}}</p>
                </div>
                <div class="column"> 
                  <p class='no-margin'>{{flight.airline.price}} INR</p>
                  <p class='f12 details-text color-1'>Outside Policy</p>
                  <p class='flight-details'>Flight Details<i class="fa fa-angle-down" aria-hidden="true" style="font-weight:bold;"></i></p>
                </div>
              </div>
            </mat-card>
            <mat-card class='card no-data'  *ngIf='flightDetailsData.length == 0'>No Data Available</mat-card>
          </div>
        </div>  
      </mat-tab>

      <mat-tab label="Create New Trip">Create New Trip Screen </mat-tab>
      <mat-tab label="Service Request"> Service Request Screen </mat-tab>
      <mat-tab label="Use IL Cash"> Use IL Cash Screen</mat-tab>
    </mat-tab-group>
    <div class='footer' >
      <div class='fl'><a href='www.google.com'>©	ITILITE. All Rights Reserved</a>  |   <a href='www.google.com'>FAQ</a>   |  <a href='www.google.com'>Privacy Policy</a> </div> 
      <div class='fr'> Contact : support@itilite.com |   +919513071160</div>
    </div>
</div>

<router-outlet></router-outlet>